@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: radial-gradient(circle, rgba(10,10,25,1) 0%, rgba(15,15,45,1) 100%);
    color: #d1d1d1;
    font-size: 1.3rem;
}

.quiz {
    max-width: 90%;
    width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 1px -1px 10px 1px rgb(111, 111, 111);
    /* background-color: rgba(255, 255, 255, 0.8); */
    border-radius: 8px;
}

li {
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #021e45b3;
}

li label {
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.next {
    width: 5rem;
    padding: 0.4rem 0.6rem;
    margin-top: 1rem;
    background-color: blue;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.next:hover {
    background-color: rgba(0, 0, 255, 0.6);
}

.results {
    text-align: center;
}

.complete {
    font-size: 3.5rem;
    color: yellow;
}

.score {
    margin-top: 2rem;
    font-size: 2rem;
    color: rgb(95, 248, 95);
}

.pass, .fail {
    margin-top: 1rem;
    font-size: 2rem;
}

.pass {
    color: rgb(95, 248, 95);
}

.fail {
    color: red;
}
